
:root.details #product-list,
:root:not(.details) #product-details {
    display: none;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: calc(25% - 20px);
}

.product-details {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.product-img{
  contain: layout;
  width: 150px;
  margin-bottom: 10px;
}

#details-img{
  view-transition-name: "expand";
  width: 500px;
}

/* ::view-transition-group(thumb) {
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  animation-duration: 1s;
} */

#product-list li {
  display: flex;
  list-style: none;
  border: 1px solid rgb(103 105 127 / 43%);
  border-radius: 4px;
  list-style-type: none;
}

#product-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  color: rgb(79, 79, 79);
}

#product-list ul {
  padding: 0;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: clamp(1rem,4vw,2rem);
  justify-content: center;
}

#product-list span{
  margin-bottom: 10px;
}